.plax{
  position: fixed;
  top: var(--headerHeight);
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./images/photo-couch_2x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  z-index: -1;
}

.imageBackground{
  position: relative;
  height: calc(100vh - var(--headerHeight)); 
  /* full vp height minus height of header set as var in index.css*/
  /* background-image: url('./images/photo-couch_2x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; */
}

.imageBackground .textContent{
  position: absolute;
  bottom: 10%;
  color: var(--textColor);
  margin-left: var(--leftMargin);/* Left Padding set in index.css*/
}

.imageBackground .textContent p {
  width: 400px;
  padding-top: 10px;
}

.imageBackground .textContent p:last-of-type{
  padding-bottom: 20px;
}

.imageBackground .textContent h1{
  font-weight: 100;
  margin-left: 0.2rem;
  padding: 20px 0;
}


@media (max-width: 768px) {


}

@media (max-width: 576px) {
  .plax{
    background-image: url('./images/photo-couch.jpg');

  }

  .imageBackground .textContent p {
    width: 90%;
  }

}