.hIwBox{
  background-color: lightgray;
  padding-bottom: 20px;
  color: var(--backgroundColor);
}

.hIwHeader{
  padding: 20px 0 30px;
  text-align: center;

}

.hIwHeader h2{
    font-family: "LatoLight";
}

.hIwSteps{
  margin-left: var(--leftMargin);
  padding-right: var(--leftMargin);
  text-align: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {

  .hIwSteps{
    margin: auto;
    padding-right: 0;
    display: block;
    width: 90%;
    justify-content: center;
  }
  
}

@media (max-width: 576px) {

}