.startButton{
  font-size: 75%;
  font-weight: 700;
  color: var(--backgroundColor);
  padding: 0.35rem 1.5rem;
  background-color: var(--highlightColor);
  border: var(--highlightColor) solid;
  border-radius: 2rem;
  transition-duration: 0.5s;
}

.startButton:hover{
  background-color: var(--hoverColor);
  border: var(--hoverColor) solid;
  color: var(--textColor);
}