.hIwBox{
  background-color: lightgray;
  /* display: flex;
  justify-content: center; */
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.hIwHeader{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.hIwSteps{
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {

  .hIwSteps{
    margin: auto;
    display: block;
    width: 90%;
    justify-content: center;
  }
  
}

@media (max-width: 576px) {

}