.stepBox{
  width: 25%;
  margin-right: 20px;
  padding-bottom: 20px;
}

.stepBox:last-child{
  margin: 0;
}

.stepNumber h1{
  display: inline;
  border-bottom: var(--highlightColor) solid 3px;
  padding-bottom: 5px;
}

.stepBox h5{
  padding: 20px 0 10px;
}

.stepBox p{
  font-size: 0.8rem;
}

@media (max-width: 768px) {

  .stepBox{
    width: 50%;
    margin: 0 auto 1rem;
  }
  .stepBox:last-child{
    margin: 0 auto 1rem;
  }

}

@media (max-width: 576px) {

  .stepBox{
    width: 90%;
  }

}