.header{
  background: #333333;
  height: var(--headerHeight);/* Header height set in index.css*/
  padding: 0.8rem 0 0.9rem;
}

.header svg {
  margin-left: var(--leftMargin);
  height: 90%;
  fill: var(--highlightColor);
}