/* variables */
:root{
  --headerHeight: 3.0rem;
  --leftMargin: 10%; /* left margin for text alignment*/

  /* --highlightColor: #66cccc; this color was returned by PS*/
  --highlightColor: #26ffff; /*this color looks more correct to me*/
  --hoverColor: #009696; /* color for hover effect*/
  --backgroundColor:  #333333; /*Background color for header and other elements*/
  --textColor: white; /*Text color for light colored text*/

}

/* resets box sizing */
* {
  box-sizing: border-box;
}

/*resets text elements*/
h1, h2, h3, h4, h5, p{
  padding: 0;
  margin: 0;
}

/* set custom fonts*/
@font-face {
  font-family: 'LatoReg';
  src: url(./assets/fonts/Lato/Lato-Regular.ttf)
}

@font-face {
  font-family: 'LatoLight';
  src: url(./assets/fonts/Lato/Lato-Light.ttf)
}

@font-face {
  font-family: 'OpenSansReg';
  src: url(./assets/fonts/Open_Sans/OpenSans-Regular.ttf)
}

/*sets h1 size globally*/
h1{
  font-size: 3rem;
  font-family: 'LatoLight', sans-serif;
}

/* resets margins and padding sets LatoReg text style of all elements*/
html, 
body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'LatoReg', sans-serif;
}

/*hides scroll bars*/
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
}